* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  height: 45px;
  background-color: rgb(212, 176, 109);
  justify-content: center;
  align-items: flex-start;
}

.container > ul {
  align-items: center;
  display: flex;
  width: 100%;
  background-color: antiquewhite;
  list-style-type: none;
  flex-direction: row;
  padding: 10px 30px;
  gap: 20px;
  font-size: 30px;
  font-family: sans;
  font-weight: bold;
}

ul > .log {
  flex: 1;
  justify-content: flex-start;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(80, 145, 145);
  max-width: 1350px;
  height: 100%;
  margin: 100px auto;
  padding-bottom: 10px;
  gap: 10px;
  column-gap: 10px;
  padding-top: 10px;
  align-items: center;
}

.card {
  display: flex;
  width: 250px;
  height: 350px;
  background-color: rgb(235, 207, 116);
}
